<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--对时间隔-->
    <add key="IntervalValue" value="30"/>
    <add key="CurrentNTPServerUrl" value="time.windows.com"/>
  </appSettings>
  <connectionStrings>
    <add name="NTPClient.Properties.Settings.ntpdbConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\ntpdb.accdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
    <add name="ntpdbEntities" connectionString="metadata=res://*/NTPDB.csdl|res://*/NTPDB.ssdl|res://*/NTPDB.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;E:\NTP\NTPClient_InclLog - SQLite\NTPClient\NTPClient\ntpdb.db&quot;'" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
